CREATE TABLE IF NOT EXISTS exam_courses (exam_id BIGINT NOT NULL, course_id BIGINT NOT NULL, PRIMARY KEY (exam_id, course_id), FOREIGN KEY (exam_id) REFERENCES exams(id), FOREIGN KEY (course_id) REFERENCES courses(id));
